@model DataLayer.User
@{
    ViewBag.Title = "خوش آمد گویی";
}
<div class="alert alert-seccuss">   
    <h2>@Model.UserName گرامی</h2>
    <p> حساب شما با موفقیت فغال سازی شد ، از طریق  این </p>
    <a href="/Login">لینک</a>
    <p>وارد سایت شوید</p>
</div>


