@model DataLayer.User

@{
    ViewBag.Title = "ثبت نام";
}
<div class="alert alert-success">
    <h2>@Model.UserName عزیز ، حساب شما با موفقیت ایجاد شد</h2>
    <p>لطفا جهت فعال سازی حساب خود وارد ایمیل خود شده و روی لینک فعال سازی کلیک نمایید</p>
</div>
