@using System.Configuration
@model DataLayer.User
<div style="direction: rtl; padding: 20px">
    <div style="width: 100%; padding: 20px">
        <img src="@ConfigurationManager.AppSettings["MyDominWebsite"]Content/img/logo.png"/><h2> فروشگاه ساکولنت</h2>

    </div>
    <h2> @Model.UserName گرامی!</h2>
    <p>با تشکر از ثبت نام در فروشگاه بزرگ ساکولنت، لطفا جهت فعال سازی حساب خود بر روی دکمه زیر کلیک نمایید با تشکر</p>
    <a href="@ConfigurationManager.AppSettings["MyDominWebsite"]Account/ActiveUser/@Model.ActiveCode" style="background-color: aquamarine; padding: 5px; height: 30px;">فعال سازی </a>

</div>
