@model IEnumerable<DataLayer.Product_Group>

@{
    ViewBag.Title = "گروه محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>گروه محصولات</h2>

<p>
    @*<button type="button" data-toggle="modal" onclick="Create()" data-target="#myModal">Launch modal</button>*@
    <a class="btn btn-success top-10" onclick="Create()" >افزودن سر گروه جدید</a>
</p>

<div id="listGroup">
    @Html.Action("listGroups")
</div>
<!-- Modal -->
<div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalId">
                ...
            </div>
            <div class="modal-footer">
               
            </div>
        </div>
    </div>
</div>
<script>
    function Create() {
        $.get("/Admin/Product_Group/Create",
            function(result) {
                $('#myModal').modal();
                $('#myModalLabel').html("افزودن گروه جدید");
                $("#myModalId").html(result);
            });
    }
    function Edit(id) {
        $.get("/Admin/Product_Group/Edit/"+id,
            function(result) {
                $('#myModal').modal();
                $('#myModalLabel').html("افزودن گروه جدید");
                $("#myModalId").html(result);
            });
    }
    function Delete(id) {
        $.get("/Admin/Product_Group/Delete/" + id,
            function (result) {
                $('#myModal').modal();
                $('#myModalLabel').html("افزودن گروه جدید");
                $("#myModalId").html(result);
            });
    }
    function success() {
        $('#myModal').modal('toggle','hide');
    }
</script>
